body {
    background-image: url("../../assets/main.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    max-width: 750px;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    body {
        background-size: 750px;
    }
    .main-content {
        margin-top: 110%;
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 599px) {
    body {
        background-size: 600px;
    }
    .main-content {
        margin-top: 100%;
        margin-bottom: 170px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-size: 450px;
    }
    .main-content {
        margin-top: 80%;
        margin-bottom: 120px;
    }
}

.main-content {
    position: relative;
}

.main-text {
    position: relative;
    font-family: "DreamAvenue";
    font-size: 3.8em;
    color: ivory;
    text-transform: uppercase;
    bottom: -10px;
}

.initials {
    padding-bottom: 40px;
    max-width: 37%;
}

.main-con {
    font-family: "Monsieur" !important;
    font-size: 2.2em;
    color: ivory;
    text-transform: lowercase !important;
}

.invite-wrapper {
    position: relative;
    text-align: left;
    padding-bottom: 185%;
}

@media only screen and (max-width: 349px) {
    .day-image-xsmall {
        display: block;
    }
    .day-image-small,
    .day-image {
        display: none;
    }

    .invite-wrapper {
        padding-bottom: 245% !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 509px) {
    .day-image-small {
        display: block;
    }
    .day-image-xsmall,
    .day-image {
        display: none;
    }

    .invite-wrapper {
        padding-bottom: 215% !important;
    }
}

@media only screen and (min-width: 510px) {
    .day-image {
        display: block;
    }
    .day-image-small,
    .day-image-xsmall {
        display: none;
    }
}

.day-image,
.day-image-small,
.day-image-xsmall {
    width: 100%;
}

.day-invite,
.invite-details {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.day-wrapper,
.invite-wrapper,
.dresscode-wrapper,
.smaller-details-wrapper,
.before-function-wrapper,
.rsvp-wrapper,
.accomodation-wrapper,
.gift-wrapper,
.closing-wrapper,
.clock-wrapper,
.hints-wrapper {
    background-color: #224151;
}

.day-wrapper {
    padding-bottom: 15%;
}

.smaller-details-wrapper,
.before-function-wrapper,
.rsvp-wrapper,
.accomodation-wrapper,
.gift-wrapper {
    padding-bottom: 12%;
}

.closing-wrapper {
    padding-bottom: 5%;
}

.gift-wrapper,
.hints-wrapper,
.clock-wrapper {
    padding-bottom: 10%;
}

@media only screen and (max-width: 349px) {
    .desc-container {
        max-width: 80% !important;
        padding-left: 25px;
        padding-top: 25px;
        color: ivory;
    }
}

@media only screen and (min-width: 350px) and (max-width: 509px) {
    .desc-container {
        max-width: 65% !important;
        padding-left: 25px;
        padding-top: 25px;
        color: ivory;
    }
}

.desc-container {
    max-width: 42%;
    padding-left: 25px;
    padding-top: 25px;
    color: ivory;
}

.invite-details {
    z-index: 2;
    padding-top: 55px;
}

.what {
    text-decoration: underline;
    text-underline-offset: 35%;
    text-decoration-color: ivory;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    font-size: 2.75em !important;
    padding-left: 12px;
    padding-top: 50px;
    font-family: "DreamAvenue";
    color: ivory;
    text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
    .what {
        font-size: 2.4em !important;
    }
    .when,
    .where,
    .dresscode,
    .smaller-details,
    .before-function,
    .rsvp,
    .accomodation,
    .gift,
    .closing,
    .hints {
        font-size: 2.2em !important;
    }
}

@media only screen and (min-width: 451px) {
    .what {
        font-size: 2.75em !important;
    }
    .when,
    .where,
    .dresscode,
    .smaller-details,
    .before-function,
    .rsvp,
    .accomodation,
    .gift,
    .closing,
    .hints {
        font-size: 2.5em !important;
    }
}

.when,
.where,
.dresscode,
.smaller-details,
.before-function,
.rsvp,
.accomodation,
.gift,
.closing,
.hints {
    font-size: 2.5em;
    font-family: "DreamAvenue";
    color: ivory;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.where-wrapper {
    padding-top: 15px;
}

.when-description,
.where-description,
.smaller-details-description,
.dresscode-description,
.before-function-description,
.rsvp-description,
.accomodation-description,
.gift-description,
.closing-description {
    color: ivory;
    display: block;
    text-align: center;
    padding: 5px 25px 5px 25px;
}

.closing-description {
    padding-bottom: 55px;
}

.dresscode-image {
    width: 100%;
    max-width: 100%;
    padding-top: 35px;
}

.dresscode-wrapper {
    padding-bottom: 15%;
}

.maps-embed {
    max-width: 100%;
    margin-top: 25px;
}

.iframe-embed {
    max-width: 450px;
    max-height: 450px;
    width: 95%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.rsvp-content,
.before-function-content,
.smaller-details-content,
.dresscode-content,
.day-content,
.day-invite,
.accomodation-content,
.gift-content,
.closing-content,
.hints-content {
    text-align: left;
}

.countdown-clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .flip-clock {
        --fcc-digit-block-width: 35px;
        --fcc-digit-block-height: 54px;
        --fcc-digit-font-size: 35px;
        --fcc-separator-color: ivory;
        --fcc-separator-size: 6px !important;
    }
}

@media (max-width: 405px) {
    .flip-clock {
        --fcc-digit-block-width: 25px;
        --fcc-digit-block-height: 44px;
        --fcc-digit-font-size: 30px;
        --fcc-separator-size: 4px !important;
    }
}

@media (max-width: 315px) {
    .flip-clock {
        --fcc-digit-block-width: 18px;
        --fcc-digit-block-height: 28px;
        --fcc-digit-font-size: 20px;
        --fcc-separator-size: 4px !important;
    }
}

.flip-clock {
    --fcc-label-color: #224151;
    --fcc-background: ivory;
    --fcc-digit-color: #224151;
    --fcc-separator-color: ivory;
}

.form-input {
    border-radius: 5px;
    width: 95%;
    max-width: 400px;
    font-size: 16px;
    border: none;
    padding: 8px;
}

.rsvp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-form {
    width: 85%;
}

.mb-3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-input:focus {
    outline: none;
}

.submit-button {
    margin: 0 auto;
}

.btn-container {
    text-align: center;
    padding-top: 6px;
}

.btn {
    width: 6em;
    height: 2em;
}

.seperator {
    width: 85%;
    color: ivory;
    background-color: #224151;
}

.sep-container {
    background-color: #224151;
    border: 1px solid #224151;
    margin: 0;
    padding: 0;
}

.btn-text {
    color: #224151;
}

.images-wrapper {
    border: 1px solid green;
}

.collage {
    width: 100%;
}

.hints-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.hints-img {
    max-width: 100%;
    max-height: 100%;
}

.hints {
    padding-bottom: 55px;
}

input[type="checkbox"].checkbox-input {
    border: none !important;
    padding: none;
    margin: none;
}

.label-checkbox {
    color: ivory;
    font-size: 0.75em;
}

.container {
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: ivory;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: ivory;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: ivory;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: #224151;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 14px;
    border: solid ;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }